.footer {
    width: 100%;
    height: fit-content;
    padding: 10px 0;

    p{
        text-align: center;
        font-size: .6rem;
        color: rgba(255, 255, 255, 0.44);

        @media (min-width: 720px) {
            font-size: .8rem;
        }
    }
}
